@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.loading__container{
    width: 100vw;
    height: 100%;
    
    z-index: 1000;
    
    background-color: #051441;
    position: absolute;
    
    animation:3s LoadingPageAnimation cubic-bezier(0.19, 0.11, 0.41, 0.93) forwards;
}
.loading__text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   top: 30%;
   position: relative;

}
.loading__percentage{
    color: white;
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
}
.li__item{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 15px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
  
}
.show__menu{
    animation:1s ShowMenu ease-in forwards;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: 0px;
    padding: opx;
    top: 0px;
    position: absolute;
    
}
.hide__menu{
    animation:2s HideMenu ease-in forwards;
    display: none;
}
.close__icon{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 15px 15px 15px;
    cursor: pointer;
}

@keyframes LoadingPageAnimation{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-1000px);
    }
}

@keyframes ShowMenu{
    0%{
        background-color: white;
        opacity: 0;
    }
    100%{
        opacity: 90;
        background-color: #596157;
    }
}
@keyframes HideMenu{
    0%{
        opacity: 100;
    }
    100%{
        opacity: 0;
        display: none;
    }
}